@inherits LayoutComponentBase

@using Dashboard.Client.Components

<Navbar />
<main class="container is-fluid">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
