@page "/"
@using Dashboard.Components.Account
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager

<Container Title="Welcome" IsHome="true">
    <p>
        Welcome to the AO Ambulance Dashboard.  You will need to log in to 
        use this application.
    </p>
    <div class="btn-container">
        <a href="/Account/Login">
            Log In
        </a>
    </div>
</Container>

@code 
{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext.User.Identity?.IsAuthenticated == true)
        {
            NavigationManager.NavigateTo("/home", replace: true);
        }
    }
}
