@page "/"
@using Microsoft.AspNetCore.Authorization

<Container Title="Welcome" IsHome="true">
    <p>
        Welcome to the AO Ambulance Dashboard.  You will need to sign in to 
        use this application.
    </p>
    <div class="btn-container">
        <a href="/Account/Login">
            Sign In
        </a>
    </div>
</Container>


