@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h2 class="title is-4">@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div class="form-floating mb-3">
                <label asp-for="Input.NewEmail" class="label"></label>
                <input asp-for="Input.NewEmail" class="input" autocomplete="email" required placeholder="your@@email.com" />
                <span asp-validation-for="Input.NewEmail" class="help is-danger"></span>
            </div>
            <button id="change-email-button" type="submit" class="button is-primary is-fullwidth">Change Email</button>
        </form>
    </div>
</div>

