@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Dashboard.Data

@layout AccountLayout

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<Container Title="Profile" Expands>
    <StatusMessage />

    <div class="btn-container">
        @if (!isMicrosoftAccount)
        {
            <a href="/Account/Manage/Email">Change Email</a>
            <a href="/Account/Manage/ChangePassword">Change Password</a>
            <a href="/Account/Manage/TwoFactorAuthentication">Two-Factor Authentication</a>
        }
        <a href="/Account/Manage/PersonalData">Manage Personal Data</a>
    </div>
</Container>

@code {
    private bool isMicrosoftAccount = false;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var logins = await UserManager.GetLoginsAsync(user);

        isMicrosoftAccount = logins.Any(l => l.ProviderDisplayName == "Microsoft");
    }
}
