@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<Container Title="Personal Data" Expands>
    <StatusMessage />

    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <form action="Account/Manage/DownloadPersonalData" method="post">
        <AntiforgeryToken />
        <button type="submit">Download</button>
    </form>
    <div class="btn-container">
        <a href="Account/Manage/DeletePersonalData" class="delete">Delete</a>
    </div>
</Container>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
