@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<ManageLayout>
    <StatusMessage />

    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <form action="Account/Manage/DownloadPersonalData" method="post">
        <AntiforgeryToken />
        <div class="buttons">
            <button type="submit" class="button is-primary is-fullwidth">Download</button>
            <a href="Account/Manage/DeletePersonalData" class="button is-danger is-fullwidth">Delete</a>
        </div>
    </form>
</ManageLayout>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
