@page "/Account/AccessDenied"

<section class="hero">
    <div class="hero-body">
        <p class="title">Sorry...</p>
        <p class="subtitle">
            You don't have access to this area.  If you think you should, please contact your line manager.
        </p>
    </div>
</section>
