@page "/Account/ForgotPasswordConfirmation"

<h1 class="title">Forgot Pasword</h1>
<p class="subtitle">
    Please check your email, where you should find a link to reset your password.  
</p>
<p class="subtitle">
    Can't find the email? Make sure to check your spam folder.
</p>
