@page "/Account/InvalidPasswordReset"

<h1 class="title">Reset Pasword</h1>
<p class="subtitle">
    The password reset link used wasn't valid.  It may have expired.  Please try again.
</p>
<a class="button is-link is-fullwidth" href="Account/ForgotPassword">Reset Password</a>
