@page "/Account/InvalidUser"

<h1 class="title">Internal Error</h1>
<p class="subtitle">
    There was an error getting your user details.  You may need to log in again.  Please go back and try again.
</p>
