@page "/Account/Lockout"

<section class="hero">
    <div class="hero-body">
        <p class="title">Sorry...</p>
        <p class="subtitle">
            We have locked out your account for a short time, as there have been too many incorrect password attempts.
            This is to protect your account, as it makes it harder for someone to keep guessing your password.  You'll
            need to come back a little later.
        </p>
    </div>
</section>