@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<Container Title="Reset Password" IsHome Expands>
    <p>
        Your password has been reset.
    </p>
    <div class="btn-container">
        <a href="Account/Login">Click here to log in</a>
    </div>
</Container>
