@inject IWebHostEnvironment HostEnvironment

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ApplicationInsightsInit />
    @if (HostEnvironment.IsDevelopment())
    {
        <link rel="stylesheet" href="css/app.css" />
    }
    else
    {
        <link rel="stylesheet" href="css/app.min.css" />
    }
    <link rel="stylesheet" href="Dashboard.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="lib/qrcodejs/qrcode.js"></script>
</body>

</html>
