@page "/Account/Manage/PersonalData"
@using Dashboard.Data
@using Microsoft.AspNetCore.Identity

@inject IdentityUserAccessor UserAccessor
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager

<PageTitle>AO Dashboard - Manage Personal Data</PageTitle>

<ManageLayout IsMicrosoftAccount="@isMicrosoftAccount">
    <StatusMessage />

    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <form action="Account/Manage/DownloadPersonalData" method="post">
        <AntiforgeryToken />
        <div class="buttons">
            <button type="submit" class="button is-primary is-fullwidth">Download</button>
            <a href="Account/Manage/DeletePersonalData" class="button is-danger is-fullwidth">Delete</a>
        </div>
    </form>
</ManageLayout>

@code {
    private bool isMicrosoftAccount;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        var logins = await UserManager.GetLoginsAsync(user);
        isMicrosoftAccount = logins.Any(l => l.ProviderDisplayName == "Microsoft");
    }
}
