@using System.Linq.Expressions

@typeparam T

<div class="field">
    <label class="label" for="@Name">@Label</label>
    <div class="select is-fullwidth">
        <InputSelect Value="Value" ValueChanged="ValueChanged" ValueExpression="For" name="@Name">
            @ChildContent
        </InputSelect>
    </div>
    <ValidationMessage For="For" />
</div>

@code {
    [Parameter]
    public string Label { get; set; } = default!;

    [Parameter]
    public string Name { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public T Value { get; set; } = default!;

    [Parameter]
    public EventCallback<T> ValueChanged { get; set; } = default!;

    [Parameter]
    public Expression<Func<T>> For { get; set; } = default!;
}
