:root {
    font-family: "Whitney Book", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    color: var(--color-text);
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    --color-primary: #009f4d;
    --color-secondary: #97999b;
    --color-accent: #e1e000;
    --color-error: darkRed;
    --color-text: black;
    --color-dark-primary: #007a53;
    --color-shadow: var(--color-secondary);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    background-color: var(--color-dark-primary);
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-family: "Whitney Semi Bold", "Helvetica", "Arial", sans-serif;
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

button,
a.button {
    font-family: "Whitney Semi Bold", "Helvetica", "Arial", sans-serif;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--color-primary);
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    box-shadow: 0 0 0.1rem var(--color-shadow);
}

    button:hover,
    a.button:hover {
        background-color: var(--color-dark-primary);
        color: white;
    }

    button[disabled],
    a.button[aria-disabled] {
        background-color: var(--color-secondary);
        color: var(--color-text);
        cursor: not-allowed;
    }

a.button {
    display: block;
}

    button + button,
    a.button + a.button {
        margin-top: 0.25rem;
    }

label {
    font-family: "Whitney Semi Bold", "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
    vertical-align: middle;
}

input,
select {
    margin: 1rem;
    padding: 0.3rem 0.6rem;
    vertical-align: middle;
}

.validation-message {
    color: var(--color-error);
    margin-top: 0;
}

.call-sign-form input ~ .validation-message,
.vehicle-form input + .validation-message {
    display: none;
}

.call-sign-form input:user-invalid ~ .validation-message,
.vehicle-form input:user-invalid + .validation-message {
    display: block;
}

.vehicle-form {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: start;
}

    .vehicle-form label {
        grid-column: 1;
        align-self: center;
        justify-self: start;
    }

    .vehicle-form button {
        grid-column: 1/3;
        align-self: center;
        margin: 0.5rem 0;
    }

    .vehicle-form .validation-message {
        grid-column: 1/3;
        justify-self: start;
        margin: 0;
    }

    .vehicle-form input,
    .vehicle-form select {
        grid-column: 2;
        margin: 0.5rem 0.25rem;
    }
