@page "/Account/ResetPasswordConfirmation"

<PageTitle>AO Dashboard - Reset Password</PageTitle>

<h1 class="title">Reset Password</h1>
<p class="subtitle">
    Your password has been reset.
</p>
<div class="buttons">
    <a class="button is-link is-fullwidth" href="Account/Login">Click here to log in</a>
</div>
