@page "/home"

@attribute [Authorize]
@rendermode InteractiveAuto

@using Dashboard.Client.Model
@using Microsoft.AspNetCore.Authorization

<PageTitle>AO Dashboard - Home</PageTitle>

<h1 class="title">Home</h1>

<AuthorizeView Policy="CanViewVOR">
    <Authorized>
        <PlacePicker Place="Place" />
    </Authorized>
</AuthorizeView>

@code
{
    private Place Place => new Place { Region = Enum.Parse<Region>(Region ?? "all", true), District = District ?? "all", Hub = Hub ?? "all" };

    [SupplyParameterFromQuery]
    public string Region { get; set; } = "all";

    [SupplyParameterFromQuery]
    public string District { get; set; } = "all";

    [SupplyParameterFromQuery]
    public string Hub { get; set; } = "all";
}