@page "/home"

@attribute [Authorize]
@rendermode InteractiveAuto

@using Dashboard.Client.Model
@using Dashboard.Client.Services
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IVorService VorService

<PageTitle>AO Dashboard - Home</PageTitle>

<h1 class="title">Home</h1>

<AuthorizeView Policy="CanViewVOR">
    <Authorized>
        <PlacePicker Place="Place" />
        <div class="columns">
            <div class="column">
                <h2>Vehicle Availability</h2>
                <div class="vehicle-availability-container is-relative">
                    <canvas id="vehicle-availability-chart"></canvas>
                </div>
            </div>
            <div class="column">
                <h2>Historic Availability</h2>
                <div class="historic-availability-container is-relative">
                    <canvas id="historic-availability-chart"></canvas>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code
{
    private bool loading;
    private IJSObjectReference? module;
    private VorStatistics statistics = new();
    private Place Place => new Place { Region = Enum.Parse<Region>(Region ?? "all", true), District = District ?? "all", Hub = Hub ?? "all" };

    [SupplyParameterFromQuery]
    public string Region { get; set; } = "all";

    [SupplyParameterFromQuery]
    public string District { get; set; } = "all";

    [SupplyParameterFromQuery]
    public string Hub { get; set; } = "all";

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Home.razor.js");
            module?.InvokeVoidAsync("loadGraphs", statistics);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        loading = true;
        statistics = await VorService.GetVorStatisticsAsync(Place);
        module?.InvokeVoidAsync("loadGraphs", statistics);
        loading = false;
    }
}