@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

.ms-login {
    background-image: url("/img/ms-sign-in.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 215px;
    height: 41px;
}
